.comment {
    position: relative;
    /*display: block;*/
    width: 100px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    margin: 10px;
}
.comment:hover {
     background-color: #003776;
     border-color: #fff;
     transition: all .1s ease-in-out;
 }
.comment:active {
    position:relative;
    top:1px;
}